# build
bin/
*.exe
*.out
*.test

# go
vendor/
.gocache/

# macOS
.DS_Store

# logs
*.log
logs

# backups
backups/

# env
.env
*.env
backupctl.env
!configs/backupctl.env.example

# configs with secrets
configs/config.yaml
configs/config.local.yaml

# IDE
.vscode/
.idea/
.cache
dist/

# JOBS
.backupctl
